{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="image-container">
    <img src="{{ base64_image }}" alt="Chennai Customs">
</div>
<br>
<div align="right" style=font-size:14px>{{present_date}}<br>Chennai</div>
<div style=font-size:14px>
To<br>
M/s {{ data.importer_name }}<br>
{{data.address}}<br><br>
sir,<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sub :- Non-submission of EODC/Redemption letter for {{data.radio_choice}} License(s)-reg.<br><br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please refer to the above cited subject, the details of Bond executed by you against the licence(s) registered<br>
in INMAA4 for the import of goods under the {{data.radio_choice}} scheme are given below:-<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>LIC NO</u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>LIC DATE</u> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>BOND NO</u> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.license_number}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.lic_date}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.bond_number}} <br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In this regard, you are hereby informed that the export obligation period for the above mentioned license(s)<br>
 have expired and this office has not received EODC/ Redemption letter issued by the licensing authority towards<br>
 the discharge of Export Obligation.<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In case the export obligation is fulfilled and EODC/Redemption letter obtained from DGFT, the same may be<br>
 submitted for cancellation of Bond executed against the said licence. If you have not fulfilled the export obligation<br>
 against the said licence(s), it is hereby reiterated that you are required to pay the duty amount along with<br>
applicable interest till the payment of duty as per Customs Act, 1962.<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You are hereby requested to communicate within 15 days from the date receipt of this letter, failing which the<br>
 action may be initiated as per the provision of Customs Act, 1962.<br><br><br>

<div align="right">
    {{DC}}<br>
    DEPUTY COMMISSIONER OF CUSTOMS<br>
    EODC-ACC
</div>
    </div>
{% endblock %}
