{% extends 'base.html' %}

{% block content %}
  <div style="background-color: #84A7A1; display: flex; align-items: center; justify-content: center; min-height: 100vh;">
    <form method="post" action="{% url 'modify_data' %}" style="background-color: #E5E5CB; padding: 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: 400px;">
      {% csrf_token %}

      <div style="display: flex; flex-direction: column; gap: 10px;">
        <label for="bond_id">Enter Bond ID:</label>
        <input type="text" id="bond_id" name="bond_id" required>

        <button type="submit" id="submit-button" style="background-color: #363333; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; margin-top: 10px;">Search</button>
      </div>
    </form>
    <a href="{% url 'home' %}" style="margin-top: 10px; position: fixed; bottom: 20px; right: 16px"><button>Back to Home</button></a>
  </div>
<div>
    <a href="{% url 'login' %}" style="margin-right: 10px; position: fixed; top: 20px; right: 16px "><button>Logout</button></a>
  </div>
{% endblock %}
